:root {
    --xlight-gray: #fafafa;
    --light-gray: #e6e6e6;
    --mid-gray: #586273;
    --mbgc: rgba(27,59,139,1);
    --sbgc: rgba(21,37,85, 1);
}

html, body, .t-b {
    min-height: 100%;
}

.btn {
    background-color: white;
    line-height: normal;
}

.tooltip-inner {
    max-width: 400px!important;
    background-color: rgb(230, 230, 230)!important;
    color: rgb(30, 30, 30)!important;
    text-align: left!important;
}

.tooltip-arrow::before {
    border-right-color: rgb(230, 230, 230)!important;
}

.tags-docs-text {
    font-size: 20px;
    font-weight: 400;
    font-family: "Segoe UI", Arial, sans-serif;
}

.btn:focus {
    box-shadow: none !important;
}

.published_check:checked {
    background-color: var(--mbgc)!important;
}

.my-search-form {
    position: relative;
}

.my-search-form>input {
    padding-right: 2rem;
}

.my-search-icon {
    position: absolute;
    right: 1.2rem;
    top: .4rem;
}

.w-55 {
    width: 55%!important;
}

.w-625 {
    width: 62.5%!important;
}

.no-image {
    background-image: none!important;
}

.mb-3rem {
    margin-bottom: 3rem!important;
}

.mt-profile {
    margin-top: 6rem!important;
}

.w-45 {
    width: 45%!important;
}

.w-profile {
        width: 50%;
    }

@media (max-width: 992px) {
    /* profile */
    .mt-profile {
        margin-top: 2rem !important;
    }

    .row-profile {
        margin-bottom: 3rem;
    }

    .row-profile > div {
        margin-right: auto;
        margin-left: auto;
    }

    .row-profile > div, .row-profile > div > img {
        width: 45%;
    }

    .w-profile {
        width: 75%;
    }

    /* teaching */
    .teaching {
        margin-right: auto;
    }
}
@media (max-width: 769px) {
    .sm-fullsize {
        width: 100%!important;
    }
}
@media (max-width: 577px) {
    .sm-column {
        flex-direction: column;
    }
}
.no-focus:focus {
    box-shadow: none !important;
}

.toggler-active {
    color: white!important;
    font-weight: normal!important;
    cursor: default;
    font-size: 16px;
    background-color: var(--mbgc)!important;
}

.search-text::placeholder {
    color: rgba(190, 190, 190, 1)!important;
}

.search-text {
    color: white!important;
}

.task_check_item {
    font-size: 18px;
    font-weight: 500;
    height: 3rem;
    padding-top: 0.7rem;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFFFFF;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 2px rgba(50, 50, 50, 0.06);
    margin-bottom: 1.5rem;
    vertical-align: middle;
}

.footer {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%; /* Ширина слоя */
    background-color: rgb(240, 240, 240);
    padding-left: 25rem;
    padding-right: 25rem;
    margin-top: 2rem;
    text-decoration: none;
}

.active-circle {
    background-color: var(--mbgc)!important;
    outline: white solid .5em!important;
    outline-offset: -1.3em;
    box-shadow: none !important;
    border: 0!important;
}

.c {
    position: relative;
    width: 75%!important;
    height: 0!important;
    padding: 0 0 75% !important;
}

.c {
    background-color: var(--mbgc)!important;
    border: 0!important;
    box-shadow: none !important;
}

::-webkit-scrollbar {
    width: .6rem;
    border-radius: 1rem;
}

#resources_window::-webkit-scrollbar-track {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #adb5bd;
    /*background-clip: padding-box;*/
    border-radius: 1rem;
}

.mbgc {
    background-color: var(--mbgc)!important;
    color: white!important;
    transition: color .3s ease-out;
}

button.mbgc:hover, a.mbgc:hover {
    background-color: var(--sbgc)!important;
    color: white!important;
}
/*27, 59, 193*/

