:root {
    --light-gray: #e6e6e6;
    --mid-gray: #586273;
}

html, body, .t-b {
    height: 100%;
}

.my-search-form {
    position: relative;
}

.my-search-form>input {
    padding-right: 2rem;
}

.my-search-icon {
    position: absolute;
    right: 1.2rem;
    top: .4rem;
}

.w-55 {
    width: 55%!important;
}

.w-625 {
    width: 62.5%!important;
}

.no-image {
    background-image: none!important;
}

.mb-3rem {
    margin-bottom: 3rem!important;
}

.mt-profile {
    margin-top: 6rem!important;
}

.w-45 {
    width: 45%!important;
}

.w-profile {
        width: 50%;
    }

@media (max-width: 992px) {
    /* profile */
    .mt-profile {
        margin-top: 2rem!important;
    }
    .row-profile {
        margin-bottom: 3rem;
    }
    .row-profile > div {
        margin-right: auto;
        margin-left: auto;
    }
    .row-profile > div, .row-profile > div > img {
        width: 45%;
    }
    .w-profile {
        width: 75%;
    }
    /* teaching */
    .teaching {
        margin-right: auto;
    }
}

.no-focus:focus {
    box-shadow: none !important;
}

.toggler-active {
    color: white!important;
    font-weight: normal!important;
    cursor: default;
    background: rgba(142,18,254,1);
    background: linear-gradient(130deg, rgba(142,18,254,1) 0%, rgba(13,58,190,1) 100%);
    font-size: 16px;
    transition: all 0.5s;
}

.toggler-inactive {
    color: rgba(0, 0, 0, 0.5)!important;
    font-weight: normal!important;
    cursor: default;
    background-color: rgba(255, 255, 255, 0);
    font-size: 14px;
    transition: all 0.5s;
}

.search-text::placeholder {
    color: rgba(190, 190, 190, 1)!important;
}

.search-text {
    color: white!important;
}