<div class="d-flex justify-content-start mx-auto rounded-pill flex-column align-items-center h-100 w-625" style="background-color: var(--light-gray);">
  <button id="c1" class="rounded-circle btn active-circle d-block c my-2" type="button"></button>
  <button class="rounded-circle btn mbgc mt-1 mb-2 d-flex justify-content-center align-items-center no-focus" style="position: relative; width: 75%; height: 0; padding: 37.5% 0 37.5%; border:0!important;" type="button" id="add_btn">
    <i class="bi bi-plus-circle" style="color: #fff; font-size: 1.5em;"></i>
  </button>
</div>