{% extends 'base.html' %}
{% block title %} Документация API {% endblock title %}
{% block content %}
  {% for f in apis %}
    <div style="margin-bottom: 2rem">
      <h1 style="font-size: 36px; font-weight: 600; font-family: Verdana">{{ f["title"] }}</h1>
      <p style="color: rgb(100, 100, 100); font-family: Verdana; padding-left: 2rem; padding-top: 0.5rem; margin-bottom: 0.25rem">{{ f["desc"] }}</p>
      <h1 style="font-size: 20px; font-weight: 600; font-family: Verdana; color: rgb(50, 50, 50); padding-left: 2rem">Parameters</h1>
      <div style="font-family: Verdana; color: rgb(10, 10, 10)">
        <div class="row" style="width: 25%; padding-left: 2.5rem; color: rgb(120, 120, 120)!important">
          <div class="col">
            Name
          </div>
          <div class="col">
            Description
          </div>
        </div>
        {% for p in f["params"] %}
          <div class="row" style="width: 25%; padding-left: 2.5rem">
            <div class="col">
              {{ p[0] }}
            </div>
            <div class="col">
              {{ p[1] }}
            </div>
          </div>
        {% endfor %}
      </div>

      <h1 style="font-size: 20px; font-weight: 600; font-family: Verdana; color: rgb(50, 50, 50); padding-left: 2rem; padding-top: 0.5rem">Return</h1>
      <div style="font-family: Verdana; color: rgb(10, 10, 10)">
        <div class="row" style="width: 25%; padding-left: 2.5rem; color: rgb(120, 120, 120)!important">
          <div class="col">
            Name
          </div>
          <div class="col">
            Description
          </div>
        </div>
        {% for p in f["return"] %}
          <div class="row" style="width: 25%; padding-left: 2.5rem">
            <div class="col">
              {{ p[0] }}
            </div>
            <div class="col">
              {{ p[1] }}
            </div>
          </div>
        {% endfor %}
      </div>
      <h1 style="font-size: 20px; font-weight: 600; font-family: Verdana; color: rgb(50, 50, 50); padding-left: 2rem; padding-top: 0.5rem">Example</h1>
      <span style="padding-left: 2.5rem; font-family: Verdana; color: rgb(10, 10, 10)">{{ f["ex"] }}</span>
    </div>
  {% endfor %}
{% endblock content %}