{% extends 'base.html' %}
{% block title %}Создание курса{% endblock title %}
{% block content %}
<div class="row mt-profile">
  <div class="col-lg-2 col-xs-12">
    <div class="row">
      <img src="https://useyourloaf.com/blog/masked-and-animated-corners/001.png" alt="пусто" class="border border-dark p-0" style="width: 100%">
    </div>
    <div class="row text-center">
      <a href="#" class="primary-link px-0">Изменить</a>
    </div>
  </div>
  <div class="col-lg-10 col-xs-12 px-0">
    <div class="row h5 mb-3">
      <span>
        Имя пользователя:&nbsp;<a href="#" class="primary-link"><i class="bi bi-pencil-square"></i></a>
      </span>
    </div>
    <div class="row h5 mb-4">
      <span>
        Email: &nbsp;<a href="#" class="primary-link"><i class="bi bi-pencil-square"></i></a>
      </span>
    </div>
    <div class="row h6">
      <span class="mb-1">Создано курсов:</span>
      <span>Создано статей:</span>
    </div>
  </div>
</div>
{% endblock content %}