{% extends "base.html" %}

{% block content %}
  <h2 style="text-align: center">Редактирование информации профиля</h2>
  <div class="container-fluid" style="margin-top: 5rem;">
    <div class="row mx-auto">
      <div class="col-md-3">
        <div class="d-flex flex-column text-center">
          <button class="border py-2 rounded" id="mainInfo"
                  style="background-color: rgba(27,59,139,1); color: white;">Основная информация
          </button>
          <button class="border py-2 rounded" id="security"
                  style="background-color: white">Безопасность
          </button>
          <button  class="border py-2 rounded" id="avatar"
                  style="background-color: white">Фото профиля
          </button>
        </div>
      </div>
      <div class="col-md-6 py-4 border rounded">
        <div class="container" id="mainInfForm">
          <form action="" method="post" novalidate>
            {{ main_inf.hidden_tag() }}
            <div class="mb-3">
              <span class="me-3" style="white-space: nowrap">{{ main_inf.username.label }}</span>
              {% if is_post and main_inf.username.errors %}
                {{ main_inf.username(class="form-control is-invalid") }}
                {% for error in main_inf.username.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% else %}
                {{ main_inf.username(class="form-control") }}
              {% endif %}
            </div>
            <div class="">
              <span class="me-3" style="white-space: nowrap">{{ main_inf.email.label }}</span>
              {% if is_post and main_inf.email.errors %}
                {{ main_inf.email(class="form-control is-invalid") }}
                {% for error in main_inf.email.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% else %}
                {{ main_inf.email(class="form-control") }}
              {% endif %}
            </div>
            {{ main_inf.submit(class="btn mt-4", style="background-color: rgba(27,59,139,1); color: white") }}
          </form>
        </div>
        <div class="container" style="display: none" id="passwordForm">
          <form action="" method="post" novalidate>
            {{ password_form.hidden_tag() }}
            <div class="mb-3">
              <span class="me-3" style="white-space: nowrap">{{ password_form.old_password.label }}</span>
              {% if is_post and password_form.old_password.errors %}
                {{ password_form.old_password(class="form-control is-invalid") }}
                {% for error in password_form.old_password.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% else %}
                {{ password_form.old_password(class="form-control") }}
              {% endif %}
            </div>
            <div class="mb-3">
              <span class="me-3" style="white-space: nowrap">{{ password_form.password1.label }}</span>
              {% if is_post and password_form.password1.errors %}
                {{ password_form.password1(class="form-control is-invalid") }}
                {% for error in password_form.password1.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% else %}
                {{ password_form.password1(class="form-control") }}
              {% endif %}
            </div>
            <div class="mb-3">
              <span class="me-3" style="white-space: nowrap">{{ password_form.password2.label }}</span>
              {% if is_post and password_form.password2.errors %}
                {{ password_form.password2(class="form-control is-invalid") }}
                {% for error in password_form.password2.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% else %}
                {{ password_form.password2(class="form-control") }}
              {% endif %}
            </div>
            {{ password_form.submit(class="btn mt-4", style="background-color: rgba(27,59,139,1); color: white") }}
          </form>
        </div>
        <div class="container" style="display: none" id="avatarForm">
          <form action="" method="post" enctype="multipart/form-data" novalidate>
            {{ avatar_form.hidden_tag() }}
            <div class="mb-3">
              <span class="me-3" style="white-space: nowrap">{{ avatar_form.avatar.label }}</span>
              {{ avatar_form.avatar(class="form-control") }}
            </div>
            {{ avatar_form.submit(class="btn mt-4", style="background-color: rgba(27,59,139,1); color: white") }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
      $(function() {
          let main_info_btn = $("#mainInfo");
          let security_btn = $("#security");
          let avatar_btn = $("#avatar");

          let main_info_form = $("#mainInfForm");
          let password_form = $("#passwordForm");
          let avatar_form = $("#avatarForm");


          main_info_btn.click(function() {
              password_form.css("display", "none");
              avatar_form.css("display", "none");
              main_info_form.css("display", "block");

              main_info_btn.css("background", "rgba(27,59,139,1)");
              main_info_btn.css("color", "white");

              security_btn.css("background", "white");
              security_btn.css("color", "black");

              avatar_btn.css("background", "white");
              avatar_btn.css("color", "black");
          });

          security_btn.click(function() {
              password_form.css("display", "block");
              avatar_form.css("display", "none");
              main_info_form.css("display", "none");

              main_info_btn.css("background", "white");
              main_info_btn.css("color", "black");

              security_btn.css("background", "rgba(27,59,139,1)");
              security_btn.css("color", "white");

              avatar_btn.css("background", "white");
              avatar_btn.css("color", "black");
          });

          avatar_btn.click(function() {
              password_form.css("display", "none");
              avatar_form.css("display", "block");
              main_info_form.css("display", "none");

              main_info_btn.css("background", "white");
              main_info_btn.css("color", "black");

              security_btn.css("background", "white");
              security_btn.css("color", "black");

              avatar_btn.css("background", "rgba(27,59,139,1)");
              avatar_btn.css("color", "white");
          });
      });
  </script>

{% endblock %}

