{% extends "base.html" %}

{% block content %}
  <h2 style="text-align: center">Редактирование информации профиля</h2>
  <div class="container-fluid" style="margin-top: 5rem;">
    <div class="row mx-auto">
      <div class="col-md-3">
        <div class="d-flex flex-column text-center">
          <button onclick="return swap();" class="border py-2 rounded" id="mainInfo"
                  style="background-color: rgba(27,59,139,1); color: white;">Основная информация
          </button>
          <button onclick="return swap();" class="border py-2 rounded" id="security"
                  style="background-color: white">Безопасность
          </button>
          <button onclick="return swap();" class="border py-2 rounded" id="security"
                  style="background-color: white">Фото профиля
          </button>
        </div>
      </div>
      <div class="col-md-6 py-4 border rounded">
        <div class="container" id="mainInfForm">
          <form action="" method="post" novalidate>
            {{ main_inf.hidden_tag() }}
            <div class="mb-3">
              <span class="me-3" style="white-space: nowrap">{{ main_inf.username.label }}</span>
              {% if is_post and main_inf.username.errors %}
                {{ main_inf.username(class="form-control is-invalid") }}
                {% for error in main_inf.username.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% else %}
                {{ main_inf.username(class="form-control") }}
              {% endif %}
            </div>
            <div class="">
              <span class="me-3" style="white-space: nowrap">{{ main_inf.email.label }}</span>
              {% if is_post and main_inf.email.errors %}
                {{ main_inf.email(class="form-control is-invalid") }}
                {% for error in main_inf.email.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% else %}
                {{ main_inf.email(class="form-control") }}
              {% endif %}
            </div>
            {{ main_inf.submit(class="btn mt-4", style="background-color: rgba(27,59,139,1); color: white") }}
          </form>
        </div>
        <div class="container" style="display: none" id="passwordForm">
          <form action="" method="post" novalidate>
            {{ password_form.hidden_tag() }}
            <div class="mb-3">
              <span class="me-3" style="white-space: nowrap">{{ password_form.old_password.label }}</span>
              {% if is_post and password_form.old_password.errors %}
                {{ password_form.old_password(class="form-control is-invalid") }}
                {% for error in password_form.old_password.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% else %}
                {{ password_form.old_password(class="form-control") }}
              {% endif %}
            </div>
            <div class="mb-3">
              <span class="me-3" style="white-space: nowrap">{{ password_form.password1.label }}</span>
              {% if is_post and password_form.password1.errors %}
                {{ password_form.password1(class="form-control is-invalid") }}
                {% for error in password_form.password1.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% else %}
                {{ password_form.password1(class="form-control") }}
              {% endif %}
            </div>
            <div class="mb-3">
              <span class="me-3" style="white-space: nowrap">{{ password_form.password2.label }}</span>
              {% if is_post and password_form.password2.errors %}
                {{ password_form.password2(class="form-control is-invalid") }}
                {% for error in password_form.password2.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% else %}
                {{ password_form.password2(class="form-control") }}
              {% endif %}
            </div>
            {{ password_form.submit(class="btn mt-4", style="background-color: rgba(27,59,139,1); color: white") }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
      function swap() {
          let mainForm = document.getElementById('mainInfForm');
          let pwdForm = document.getElementById('passwordForm');

          let mainFormButton = document.getElementById('mainInfo');
          let passwordFormButton = document.getElementById('security');

          if (mainForm.style.display === 'none') {
              pwdForm.style.display = 'none';
              mainForm.style.display = '';

              mainFormButton.style.background = 'rgba(27,59,139,1)';
              mainFormButton.style.color = 'white';

              passwordFormButton.style.background = 'white';
              passwordFormButton.style.color = '';
          } else {
              pwdForm.style.display = '';
              mainForm.style.display = 'none';

              mainFormButton.style.background = 'white';
              passwordFormButton.style.background = 'rgba(27,59,139,1)';

              mainFormButton.style.color = '';
              passwordFormButton.style.color = 'white';

          }
      }
  </script>

{% endblock %}

