{% extends 'base.html' %}
{% block title %}Профиль{% endblock title %}
{% block content %}
  <div class="w-50 mx-auto">
    <h1 class="text-center">Профиль</h1>
    <div class="row mt-5rem">
      <div class="col-10 px-0">
        <div class="row h5 mb-3">
          <span>
            Имя пользователя: {{ user.username }}
            <a href="#" class="primary-link"><i class="bi bi-pencil-square"></i></a>
          </span>
        </div>
        <div class="row h5 mb-4">
          <span>
            Email: {{ user.email }}
            <a href="#" class="primary-link"><i class="bi bi-pencil-square"></i></a>
          </span>
        </div>
        <div class="row h6">
          <span class="mb-1">Создано курсов: {{ courses_cnt or 123 }}</span>
          <span>Создано статей: {{ posts_cnt or 123 }}</span>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <img src="https://useyourloaf.com/blog/masked-and-animated-corners/001.png" alt="пусто" class="border border-dark p-0" style="width: 100%">
        </div>
        <div class="row text-center">
          <a href="#" class="primary-link">Изменить</a>
        </div>
      </div>
    </div>
    <div class="row justify-content-between mt-5">
      <a href="#" class="btn btn-outline-primary w-45">Изменить пароль</a>
      <a href="#" class="btn btn-outline-primary w-45">Удалить аккаунт</a>
    </div>
  </div>
{% endblock content %}