<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/promo.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<title>Practice Hub</title>
</head>
<body>
	<div class="main-text">
		<div class="header">Practice Hub</div>
		<div class="description">Платформа для создания и прохождения курсов.<br> Здесь стать учителем может каждый!</div>
		<a href="{{ url_for('catalog') }}" class="catalog">Вперед учиться!</a>
	</div>

	<div class="login-register">
		<a href="{{ url_for('register') }}" class="glow-button">Зарегистрироваться</a>
		<a href="{{ url_for('login') }}" class="glow-button">Войти</a>
	</div>

	<div class="decorative-square-1"></div>
	<div class="decorative-blur-1"></div>

	<div class="footer-promo">
		<div class="row py-4">
			<div class="col-4"></div>
			<div class="col-4 text-center">

			</div>
			<div class="col-4 pe-5">
				<i class="fa-brands fa-youtube icon float-end"></i>
				<i class="fa-brands fa-vk icon float-end"></i>
				<i class="fa-brands fa-telegram icon float-end"></i>
			</div>
		</div>
	</div>
</body>
</html>