{% extends "base.html" %}

{% block fullsize_content %}
    <div class="container-fluid mx-auto mt-4">
        <div class="row">
            <div class="col-sm-5 mx-auto">
                <div class="row" style="background-color: #C4C4C4;"><h1>Название курса/Название урока</h1></div>
                <hr>
                <div class="row" style="background-color: #F4F4F4;">
                    <h3>Задание</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lacus et erat porttitor congue eget elementum tellus. Integer vehicula euismod nunc id suscipit. Ut eu odio lectus. Aliquam erat volutpat. Praesent sed enim pharetra, malesuada sapien eu, sagittis est. Duis pretium metus tempor tortor lobortis accumsan quis eu dolor. Quisque feugiat semper mi vitae pretium. Fusce quis condimentum nunc. Sed gravida sed arcu id ultrices. Vestibulum mollis ex nec odio congue cursus.</p>
                </div>
            </div>

            <div class="col-sm-5 mx-auto" style="background-color: #F4F4F4; height: 75vh;">
                <div class="row">
                    <div class="col-2">
                        <div class="my-3 mx-auto" style="width: 3.5rem; height: 3.5rem; border-radius: 3.5rem; background-color: #C4C4C4;"></div>
                    </div>

                    <div class="text-dark fs-6 text-break col-10 mt-3" style="background-color: #E9FF61; border-radius: 1rem; width: 75%;">
                        <p class="mt-3 p-0 me-0">askmdasdasdansdoiweoinnashdbfjabsdjfhbyurbwuhbjhbjhbfuybjahbsdjfbasdfbasj</p>
                    </div>

                    <div class="col-2 mt-4">
                        <span class="mx-auto bg-success rounded px-2" style="color: white; text-align: center;">Атлишна</span>
                    </div>

                    <div class="row mx-auto mt-2" style="align-content: center;">
                        <h4>Файлы студента</h4>
                        <div class="rounded mt-2" style="background-color: #b1e5f0;"><p class="my-2">{Название файла}<i class="bi bi-download float-end"></i></p></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
